@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base font-light text-white font-cormorant bg-teal bg-gradient-to-b from-black to-teal;
  }

  p {
    @apply my-4;
    /* TODO: Maybe back to only mb-4 */
  }

  p:has(.club) {
    @apply font-poppins;
  }

  a {
    @apply underline text-lime;
  }

  a:hover {
    @apply no-underline text-cyan;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-12 mb-5;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  img {
    @apply w-full max-w-full;
  }

  main {
    @apply mb-16;
  }

  th,
  td {
    @apply px-0 py-4;
  }
  td:last-of-type {
    @apply font-semibold font-cormorant text-magenta;
  }

  footer {
    @apply mt-20 uppercase;
  }
}

@layer components {
  .button-primary {
    @apply text-magenta font-semibold uppercase w-[170px] border-2 border-magenta rounded-lg text-center text-nowrap px-6 py-4 inline-block no-underline font-cormorant;
  }

  .button-primary:hover {
    @apply border-cyan text-cyan;
  }

  .button-soldout {
    background: linear-gradient(
      to top right,
      transparent calc(50% - 2px),
      theme("colors.magenta50"),
      transparent calc(50% + 2px)
    );
    @apply text-magenta50 border-magenta50;
  }

  .button-soldout:hover {
    @apply text-magenta50 border-magenta50;
  }

  .clube {
    @apply text-xl uppercase text-lime font-cormorant;
  }

  .date {
    @apply text-tan font-pacifico;
  }

  .footer2 {
    @apply text-center;
  }

  .footer2 ul {
    @apply flex items-center justify-center gap-8 p-0 mx-0 my-8 list-none flex-nowrap;
  }

  svg {
    @apply fill-lime;
  }

  svg:hover {
    @apply fill-cyan;
  }
}
